@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
	font-family: 'Poppins', sans-serif;
}
.main_container{
	height: 676px;
    width: 349px;
	border-radius:12px;
	margin: auto;
	text-align: center;
    justify-content: center;
    margin-top: 12px;
    background-color:#5F7ADB;

}
.button_container{
	display:flex;
	flex-wrap: wrap;
	margin: 4px 6px;
}
button{
	font-size: 23px;
	text-align: center;
	color: black;
	border-radius:14px;
	padding:20px 41px;
	margin: 7px;
	border:none;
	box-shadow: 0 0 5px;
	cursor: pointer;
	transition: box-shadow 0.3s;


		}
button:active{
	box-shadow: 0 0 5px rgb(255, 255, 255);
}		
input{
	padding:42px 24px;
	border-radius:8px;
	border:none;
	box-shadow: 0 0 5px;
	    margin-top: 21px;
	   font-size: 22px;
	   text-align: right;
}
